.profile-container{
    display: flex;
    margin-top: 50px;
}
.row2{
    margin-left: 10%;
    width: 100%;
}
.row1 img{
    margin-bottom: 30px;
}
h5 {
    color: #ff7139;
}
hr{
    background-color: #272727;
}
.profile-pic {
    padding:2px;
    border: 1px solid #090909;
    background: linear-gradient(#090909, 10%, #FFD439);
 }