.profile-container{
    display: flex;
    margin-top: 50px;
}
.row2{
    margin-left: 10%;
    width: 100%;
}
.row1 img{
    margin-bottom: 30px;
}
h5 {
    color: #662D1C;
}
hr{
    background-color: #272727;
}