#main-wrapper {
    margin-top: 0;
    float: left;
    overflow: hidden;
    width: 68%;
    word-wrap: break-word
}
.posts-title {
    margin-right: 2%;
    position: relative;
    clear: both;
    z-index: 1;
    margin-bottom: 10px;
    line-height: 33px;
}
.posts-title h2 {
    display: inline-block;
    position: relative;
    background-color: #fff;
    color: #1c1c1c;
    font-size: 15px;
    letter-spacing: -.4px;
    text-transform: uppercase;
    font-weight: 700;
    z-index: 1;
    margin: 0;
    padding-right: 15px;
}
.posts-title h2 a {
    color: #1c1c1c;
}
.posts-title:after {
    content: "";
    position: absolute;
    z-index: 0;
    top: 12px;
    left: 0;
    width: 99%;
    border: 4px double #eee;
}
