.post-input{
    width: 300% !important;
    /* margin: 0% 5%; */
    border-image-source: linear-gradient(to right,#FFD439, 50%, #090909);
    border-width: thick;
    border-image-slice: 1;

}
.fourm-button{
    /* margin: 0% 5%; */
    background-color: #272727;
    border: 1px solid black;
}
.fourm-button:hover{
    background-color: #FFD439;
    color: #272727;
    border: 1px solid #FFD439;
}
#mapped-post{
    border: 1px solid black;
    padding: 10%;
    margin: 2%;
}
#comment-section{
    border: 1px solid black;
    margin: 2% 2%;
    padding: 5%;
}
#section{
    border: 1px solid black;
}