#outer-wrapper {
    max-width: 1140px;
    margin: 0 auto 20px;
    background-color: #FFF;
}
.index #main-wrapper,
.archive #main-wrapper {
    margin-top: 10px;
}
.home #main-wrapper {
    margin-top: 0
}
.clear {
    clear:both;
}
html, body {
    margin: 0% 0% 0% 0%;
    padding: 2% 0%;
    background: linear-gradient(to right,#090909, 65%, #c3c3c3);
} 