#outer-wrapper {
    max-width: 1140px;
    margin: 0 auto 20px;
    background-color: #FFF;
}
.index #main-wrapper,
.archive #main-wrapper {
    margin-top: 10px;
}
.home #main-wrapper {
    margin-top: 0
}
.clear {
    clear:both;
}